.dataTables_empty {
    text-align: center;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px;
}
input.hide {
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
}